* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

button, a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header__wrap {
  background-color: #FAFAFA;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 35px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.logo {
  font-family: "Homemade Apple", cursive;
  font-size: 18px;
}

.logo:hover {
  color: #F7941E;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
}

.nav__list--link {
  color: #000000;
  font-size: 18px;
}

.nav__list--link:hover {
  color: #F7941E;
  border-bottom: #F7941E 1px solid;
  padding-bottom: 5px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.about__wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a b" "c d";
  background-color: #F1F1F2;
}

.about__find {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__inner--text {
  max-width: 440px;
}

.about__inner--text h1 {
  font-size: 56px;
  margin-bottom: 32px;
}

.about__inner--text p {
  font-size: 20px;
  margin-bottom: 52px;
  text-align: justify;
  line-height: 140.62%;
}

.about__inner--text h3 {
  font-size: 32px;
  margin-bottom: 23px;
}

.about__image--right {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.about__work {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image--left {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

.about__image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.gift__wrap {
  padding: 100px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.gift__title {
  text-align: center;
}

.gift__title h3 {
  font-size: 32px;
  margin-bottom: 22px;
}

.gift__title p {
  font-size: 18px;
  margin-bottom: 64px;
}

.gift__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.gift__item {
  max-width: 270px;
  background: #FAFAFA;
}

.gift__item:hover {
  -webkit-filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
  background: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.gift__item--text {
  padding: 24px;
}

.gift__item--text h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.gift__item--text p {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: justify;
}

.gift__item--text a {
  font-size: 14px;
}

.ready__wrap {
  padding: 80px 0;
  background-color: #F7941E;
}

.ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ready__text h3 {
  font-size: 32px;
}

.ready__text p {
  font-size: 24px;
}

.ready__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.blogs__wrap {
  padding: 80px 0;
}

.blogs__title {
  text-align: center;
}

.blogs__title h3 {
  font-size: 32px;
  margin-bottom: 22px;
}

.blogs__title p {
  font-size: 18px;
  margin-bottom: 80px;
}

.blogs__posts {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a a" "b c";
  row-gap: 40;
  gap: 30px;
}

.blogs__big {
  background-color: #231F20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.blos__posts--text {
  color: #FFFFFF;
  margin: 15px 70px;
  max-width: 492px;
}

.blos__posts--text p {
  font-size: 18px;
  margin-bottom: 27px;
}

.blos__posts--text h2 {
  font-size: 48px;
  margin-bottom: 70px;
}

.blos__posts--text a {
  font-size: 18px;
  color: #FFFFFF;
}

.blogs__item {
  padding: 50px;
}

.blogs__item h5 {
  font-size: 24px;
  margin-bottom: 16px;
}

.blogs__item p {
  font-size: 18px;
  margin-bottom: 16px;
}

.blogs__item a {
  font-size: 14px;
}

.blogs__item:hover {
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.post__left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.post__right {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

.footer__warp {
  padding: 160px 0 35px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo {
  color: #F7941E;
  margin: 0 80px;
}

.footer .nav {
  margin: 0 15px;
}

.footer__hp {
  height: 1px;
  width: 85%;
  background-color: #000000;
  margin: 43px 0 55px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 62px;
}

.footer__copyrate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

@media (max-width: 734px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    margin-bottom: 25px;
  }
  .header .nav__list {
    margin-bottom: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .blos__posts--text {
    max-width: 280px;
    margin: 20px;
  }
}

@media (max-width: 991px) {
  .about {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "b" "a" "c" "d";
  }
  .about__find, .about__work {
    padding: 45px 20px;
  }
  .gift__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 20px;
  }
  .ready {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ready .ready__text {
    margin-bottom: 25px;
    text-align: center;
  }
  .blos__posts--text {
    max-width: 400px;
    margin: 15px 30px;
  }
  .blos__posts--text p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .blos__posts--text h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .blos__posts--text a {
    font-size: 18px;
    color: #FFFFFF;
  }
}

@media (max-width: 782px) {
  .blos__posts--text {
    max-width: 330px;
    margin: 15px 15px;
  }
  .blogs__posts {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "a" "b" "c";
    row-gap: 40;
    gap: 30px;
  }
  .blogs__item {
    padding: 30px;
  }
}

@media (max-width: 514px) {
  .blogs__big {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogs__posts--img, .blogs__posts--img img {
    width: 100%;
  }
  .blogs__item {
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .footer .nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .logo {
    margin: 0 15px;
  }
}

html, body {
  font-size: 10px;
}

body {
  font-family: "Duru Sans", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.primary__btn--gold {
  background: none;
  text-transform: uppercase;
  color: #F7941E;
  border: 1px solid #F7941E;
  border-radius: 5px;
  padding: 15px;
  width: 140px;
}

.second__btn--gold {
  background: #F7941E;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
}

.primary__btn--gray {
  background: none;
  text-transform: uppercase;
  color: #231F20;
  border: 1px solid #231F20;
  border-radius: 5px;
  padding: 15px;
  width: 140px;
}

.second__btn--gray {
  background: #231F20;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
}
