$white: #FFFFFF;
$black: #000000;
$orange: #F7941E;
$gray: #231F20;

$ff-duru: 'Duru Sans', sans-serif;
$ff-apple: 'Homemade Apple', cursive;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extraBold: 800;