@import "./index"; // получаем все файлы

html,body{
	font-size: 10px;
}
body{
	font-family: $ff-duru;
}
.container {
	max-width: 1200px; //1170 + 30padding = 1200;
	padding: 0 15px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}

.primary__btn--gold{
	background: none;
	text-transform: uppercase;
	color: $orange;
	border: 1px solid #F7941E;
	border-radius: 5px;
	padding: 15px;
	width: 140px;
}
.second__btn--gold{
	background: $orange;
	text-transform: uppercase;
	color: $white;
	border-radius: 5px;
	padding: 15px;
	width: 200px;
}