@media (max-width: 734px) {
  .header{
    flex-direction: column;

    .logo{
      margin-bottom: 25px;
    }

    .nav__list{
      margin-bottom: 25px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .blos__posts--text {
      max-width: 280px;
      margin: 20px;
    }
  }
}
@media (max-width: 991px) {
  .about{
    grid-template-columns: 100%;
    grid-template-areas:
    "b"
    "a"
    "c"
    "d"
    ;
  }
  .about__find, .about__work{
    padding: 45px 20px;
  }
  .gift__list{
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
  }
  .ready {
    flex-direction: column;
    justify-content: center;

    .ready__text{
      margin-bottom: 25px;
      text-align: center;
    }
  }
  .blos__posts--text {
    max-width: 400px;
    margin: 15px 30px;
    p{
      font-size: 18px;
      margin-bottom: 20px;
    }
    h2{
      font-size: 24px;
      margin-bottom: 40px;
    }
    a{
      font-size: 18px;
      color: $white;
    }
  }
}

@media (max-width: 782px) {
  .blos__posts--text {
    max-width: 330px;
    margin: 15px 15px;
  }
  .blogs__posts {
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c";
    row-gap: 40;
    gap: 30px;
  }
  .blogs__item {
    padding: 30px;
  }
}
@media (max-width: 514px) {
  .blogs__big{
    flex-direction: column;
  }
  .blogs__posts--img, .blogs__posts--img img {
    width: 100%;
  }
  .blogs__item {
    padding: 15px;
  }
}
@media (max-width: 600px) {
  .footer{

    .nav__list {
      flex-wrap: wrap;
      justify-content: center;
    }
    .logo{
      margin: 0 15px;
    }
  }
}
